
#footer{
    background: #111111 !important;
}
label{
    color:#fff;
}
input{
    color:#111;
}
#banner input, #banner select, #banner textarea {
    /* color: #ffffff; */
    color:#111;
}
#banner button, #banner .button {
    background-color: #313ef5;
    color: #ffffff !important;
}